﻿@{
    ViewBag.Title = "About";
}

    <img src="~/Content/streetChalk.png" class="bg">
    <div class="aboutBox" style="margin-top:3em">
        <h1>Vision Statement</h1>
        <p>
            This is a site for prospective college students who want to search for colleges in a way that allowed them to see if both the college, and its city, are
            right for them. The College Companion is an information rescource that allows the user to fill out a form of set criteria, hold a search based on
            that criteria and get back a list of results with the best match on top. They can look over various details of these results, such as information
            about the city amenities, travel options or demographics. Unlike the current websites, such as Naviance Student or ACT College Search,
            the focus is on the social, economic and psychological needs of the student – not their test scores.
        </p>

        <h3>What can I search for?</h3>
        <ul>
            <li> Local food amenities for town around a given college. </li>
            <li> Demographic information about the college's location.</li>
            <li> Detailed information about colleges which meet your needs.</li>
            <li> Information about how walk-friendly the location is. </li>
        </ul>

        <h3>What can I do as a user instead of a visitor?</h3>
        <ul>
            <li> You can save colleges to access the information later. </li>
            <li> You can use that list of saved colleges to run the above searches. </li>
        </ul>

        <h3>How was this site made?</h3>
        <ul>
            <li><strong>Development Platform</strong>: Visual Studio 2017. </li>
            <li><strong>Testing Kits</strong>: Selenium, NUnit3, Qunit and Moq. </li>
            <li><strong>Others</strong>: Boostrap 3, SQL, Repistory Pattern, Javascript and JQuery.</li>
        </ul>

        <h3>Who made it?</h3>
        <ul>
            <li><strong>SSTark Industries</strong></li>
            <li><strong>Members</strong>: Rochelle Simpson, Daniel Tapia and Nathan Stark. </li>
        </ul>

        <h3>Visit Our Repository:</h3>
        <button type="button" id="gitButton" class="btn btn-info" onclick="@("window.location.href='https://bitbucket.org/daniel_tapia/collegecompanion/src/master/'");">Bitbucket Repository</button>
    </div>

